<div class="boxhead" style="text-align:center;">
  <div class="button" href="sneakers.css">
    <%= link_to "Login", login_path%>
  </div>

  <div class="button" href="sneakers.css">
    <%= link_to "Sign up", signup_path%>
  </div>

  <div class="button" href="sneakers.css">
    <%= link_to('Log in with Github!', '/auth/github') %>
  </div>
</div>
