<% if @sneaker%>
  <h1>Review for @sneaker.name %></h1>
<% else %>
  <h1>All Reviews</h1>
<% end %>

<%@reviews.each do |r|%>
<li>

  <%= r.sneaker.name%>
  <%= r.title %><br>
  stars <%= r.stars %>
</li><br>
<% end %>
