<div class= "h1" style="text-align:center;">

<h1>All of the sneakers so far!</h1>

<% @sneakers.each do |sneaker|%>
  <h2><%= sneaker.name %></h2>
  <% if sneaker.sneaker_image.attached? %>
    <%= image_tag(sneaker.sneaker_image)%>
  <% end %>
  <%= link_to "write a review", new_sneaker_review_path(sneaker.id)%><br>
  <%= sneaker.description %>
<% end %>

<h1> Sneakers under $500</h1>
  <% @low_price.each do |s|%>
    <h2><%s.name%></h2>
  <%end%>
</div>
