<h1> Sneaker added! <%= @sneaker.name %> </h1>

<!-- <h2><image_tag url_for(@sneaker.sneaker)%></h2> -->
<p><%= @sneaker.description%></p>
<p>
  Check it out here with the rest of the <%= link_to "sneakers!", sneakers_path %>
</p>
